<div class="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<img class="icon" src="images/icon.png">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					{{!-- <li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Найти жилье</a>
					</li> --}}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/entry/new">Сдать жилье</a>
					</li>
				</ul>
				<span class="navbar-text">
					???
				</span>
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<form name="signupForm">
							<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
								Регистрация
							</button>
					</li>
					<li class="nav-item">
						<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
							Войти
						</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
