<div class="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<img class="icon" src="/images/icon.png">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					{{!-- <li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Найти жилье</a>
					</li> --}}
          
					<li class="nav-item">
						  <a href="/entry/new"><button class="btn btn-secondary">Сдать жилье</button></a>
					</li>
				</ul>
			 <nav class="clearfix mar-b-1 myNav">
          {{#if user}}
          <p>{{user.name}}</p>
          <a href="/cart/{{user.id}}"><button class="btn btn-secondary">Избранное</button></a>
          <a href="/signout"><button class="btn btn-secondary">Выйти</button></a>
          {{/if}}
            {{#unless user}}
               <a href="/signup"><button class="btn btn-secondary">Регистрация</button></a>
               <a href="/signin"><button class="btn btn-secondary">Войти</button></a>
        
          {{/unless}}
      </nav>
			</div>
		</div>
	</nav>
</div>
