<script defer src="/js/search.js"></script>

<form name="searchForm">
  <div class="input-group line">
    <label class="input-group-text" for="inputGroupSelect01">Тип:</label>
    <select class="form-select" name="type">
      <option value="Дом">Дом</option>
      <option value="Квартира">Квартира</option>
      <option value="Комната">Комната</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect01">Количество комнат:</label>
    <select class="form-select" name="rooms">
      <option value="1">Одна</option>
      <option value="2">Две</option>
      <option value="3">Три</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect01">Местоположение:</label>
    <select class="form-select" name="geo">
      <option value="Москва">Москва</option>
      <option value="Санкт-Петербург">Санкт-Петербург</option>
    </select>
  <button type="submit" class="btn btn-secondary">Поиск</button>
  </div>
</form>
