<br />
<br />
<br />
<br />
<br />
  <script defer src="/images/alalla.js"></script>
<form action="/entry/new" method="post" enctype="multipart/form-data">
  <input type="file" name="images" multiple />
  <button type="submit">Upload</button>
</form>
<img src="/uploads/{{images}}" alt="osdsod"/>
{{!-- <img src="/images/kkk.jpg" alt="fefwfw"/> --}}
