<h2>Вход на сайт</h2>
  <script defer src="/js/signin.js"></script>
<form id="signinForm">
  <div class="form-group">
    <label for="email">Логин:</label>
      <input id="email" class="block w-100 no-outline no-border pad-1 mar-b-2" name="email" type="text" required>
  </div>
  <div class="form-group">
    <label for="password">Пароль:</label>
      <input id="password" class="block w-100 no-outline no-border pad-1 mar-b-2" name="password" type="password" required>
  </div>
  <button type="submit" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">Войти</button>
</form>
