<script defer src="/js/signin.js"></script>

<br />
<form name="signinForm">
	<input type="email" name="email" placeholder="введите электронную почту" required>
	<input type="password" name="password" placeholder="введите пароль" required>
	<button class="btn btn-info">войти</button>
</form>
