<br />
<form method="POST", action="/registation">
  <input name="inputName" placeholder="введите имя">
  <input name="inputMail" placeholder="введите электронную почту">
  <input name="inputPass" placeholder="введите пароль">
  <button class="btn btn-info">зарегистрироваться</button>
</form>
