<script defer src="/js/signup.js"></script>

<br />
<form name="signupForm">
	<input name="name" placeholder="введите имя" required>
	<input type="email" name="email" placeholder="введите электронную почту" required>
	<input type="password" name="password" placeholder="введите пароль" required>
	<button class="btn btn-info">зарегистрироваться</button>
</form>
