body {
  background-color: rgb(255, 255, 255);
}

.icon {
  width: 5vw;
}

 .btn-success {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
} 

.container-sm {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.container-xl {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}

.form-range {
  width: 150px;
}

.card {
  /* margin-right: 20px; */
}

.btn-group {
  margin-right: 20px;
}

.form-range {
  margin-left: 20px;
  justify-content: center;
}

.footer{
  font-size: larger;
}

.container-entries {
	width: 100%;
	margin: 30px 0;
	display:flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.entry-card {
	border: 1px solid grey;
	width: 30%;
	margin: 10px 5px;
}
