<br />
<br />
<form action="/register" method="POST">
  <input name="user_name" placeholder="Введите имя">
   <input name="password" placeholder="Введите пароль">
  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
